<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/Password_login.css' %}">
</head>

<body>
    <H1> CONFIDENTIALITY OF PATIENT RECORDS </H1>
<div class="outer">
<div class="login-form" ><!--</div>style="max-width: 300px; 
margin: 0 auto; 
margin-top:200px; 
padding: 20px; 
background-color: #fff; 
border-radius: 8px; 
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">-->
    <h2>Enter Your Details</h2>
    <form method="POST" action="">
        {% csrf_token %}
        <div class="pw"> 
            <label for="username">  <b>Username</b>:</label>  &nbsp;
            <input type="text" id="username" name="username" required placeholder="Username">
    </div>
    <BR>
        <div class="pw">
            <label for="password"> <b>Password:</b></label> &nbsp;
            <input type="password" id="password" name="password" maxlength="6" required placeholder="Password">
        </div>
        <br>
        <div class="btn">
        <button type="submit"><b>Submit</b></button>
        </div>
    </form>
</div>
</div>

</body>
</html>
